.homepage-header{ 
    background-color: #04D9FF;
    color: black;
    width: 62.9rem;
    font-size: 9.6rem;
    height: 11.9rem;
    border-radius: 5rem;
    line-height: 11.9rem;
    margin: 9rem 0;
    text-align: center;
}

